*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
}
.content {
    
    
}
header {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.element a {
    text-decoration: none;
    color: rgb(170, 170, 170);
    text-transform: capitalize;
   
}
.element {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
main {
    line-height: 40px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.div1 {
    display: flex;
    flex-direction: column;  
    align-items: center;

}
.img1 {
    width: 35px;
    height: 35px;
}
.title {
    color: #00a892;
    margin: 30px;
}
.semidiv1 {
    
    display: flex;
    justify-content: center;
    gap: 20px;
}
.para1 {
    width:25% ;
   
}
.para2 {
    width: 25%;
}
section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
    margin-top: 30px;
    font-size: 14px;
    line-height: 35px;
   
}

.pa {
    width: 250px;
    height: 300px;
    background-color:#00ccb1 ;
    padding: 30px;
    border-radius: 5%;
    
}
.do {
     width: 250px;
    height: 300px;
     background-color:#3d83df ;
      padding: 30px;
      border-radius: 5%;

}
.cl {
     width: 250px;
    height: 300px;
     background-color:#1b2734 ;
      padding: 30px;
      border-radius: 5%;

}

select {
    border: none;
    background-color: transparent;
    color: white;
   
}

.sel1 {
   
   
    text-align: center;
   margin-top: 40px;
   font-size: 18px;
}
.sel2 { 
   
    text-align: center;
    margin-top: 70px;
    font-size: 18px;
}
.sel3 { 
   
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
}
h1 {
    font-weight: 300;
}
h2 {
    font-weight: 200;
}
 .element .au {
    color:  #00a892;
}

/*star section partie 2 */

.parti2 {
    display: flex;
    justify-content: space-between;
    margin: 40px 10px 40px 0px;
    padding: 0px 10px;
}
.titleh1 {
    width: 270px;
    color:#00ccb1 ;
    
}
ul {
   
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
li {
    list-style: none;
}
.logo-tuotempo {
  height: 16px;
  opacity: 0.5;
}
.logo-gipo-primary {
    height: 25px;
    opacity: 0.5;
}
.logo-clinicloud {
    height: 25px;
    opacity: 0.5;
    
}
.logo-feegow {
    height: 25px;
    opacity: 0.5;
}
.my-dr-edm-logo {
    height: 25px;
    opacity: 0.5;
}
/*end section partie 2 */


.parti3 {
    width: 600px;
    height: 600px;
    background-image: url(https://www.docplanner.com/logos/stats-bg-image.png);
    background-repeat: no-repeat;

}
body  main .parti3 {
    background-color: #e5faf8;
    width: 100%;
    height: 600px;
}