*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header {
   
   width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.element a {
    text-decoration: none;
    color: rgb(170, 170, 170);
    text-transform: capitalize;
}
.element {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
main {
    line-height: 40px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.div1 {
    display: flex;
    flex-direction: column;  
    align-items: center;
}
.img1 {
    width: 35px;
    height: 35px;
}
.title {
    color: #00a892;
    margin: 30px;
}
.semidiv1 {
    
    display: flex;
    justify-content: center;
    gap: 20px;
}
.para1 {
    width:25% ;
   
}
.para2 {
    width: 25%;
}
section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
    margin-top: 30px;
    font-size: 14px;
    line-height: 35px;
   
}

.pa {
    width: 250px;
    height: 300px;
    background-color:#00ccb1 ;
    padding: 30px;
    border-radius: 5%;
    
}
.do {
     width: 250px;
    height: 300px;
     background-color:#3d83df ;
      padding: 30px;
      border-radius: 5%;

}
.cl {
     width: 250px;
    height: 300px;
     background-color:#1b2734 ;
      padding: 30px;
      border-radius: 5%;

}

select {
    border: none;
    background-color: transparent;
    color: white;
   
}

.sel1 {
   
   
    text-align: center;
   margin-top: 40px;
   font-size: 18px;
}
.sel2 { 
   
    text-align: center;
    margin-top: 70px;
    font-size: 18px;
}
.sel3 { 
   
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
}
h1 {
    font-weight: 100;
}
h2 {
    font-weight: 200;
}
 .element .au {
    color:  #00a892;
}

/*star section partie 2 */

.parti2 {
    width: 950px;
    display: flex;
    justify-content: space-between;
    margin: 40px 10px 40px 0px;
    padding: 0px 10px;
}
.titleh1 {
    width: 270px;
    color:#00ccb1 ;
    
}
ul {
   
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
li {
    list-style: none;
}
.logo-tuotempo {
  height: 16px;
  opacity: 0.5;
}
.logo-gipo-primary {
    height: 25px;
    opacity: 0.5;
}
.logo-clinicloud {
    height: 25px;
    opacity: 0.5;
    
}
.logo-feegow {
    height: 25px;
    opacity: 0.5;
}
.my-dr-edm-logo {
    height: 25px;
    opacity: 0.5;
}
/*end section partie 2 */


.parti3 {
      background-color: #bbeee9;
      display: flex;
      justify-content: center;
      gap: 160px;
}
.header-p3 { 
display: flex;
flex-direction: column;
width: 30%;
gap: 30px;
}
.titlt-p3 {
color: #00ccb1;
margin-top: 70px;
margin-left: 150px;

}
.p-p3 {
    color: #667070;
    margin-left: 150px;
}
.colone1 {
   color: #667070;
}
.colone2 {
     color: #667070;
}
.div1-s2 {
    background-color: white;
    width: 245px;
    height: 245px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
}
.para1-div1 {
    line-height: 15px;
    text-align: center;
}
.div2-s2 {
 background-color: white;
    width: 245px;
    height: 245px;
    margin-bottom: 20px;
       display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    gap: 20px;
}
.div3-s2 {
 background-color: white;
    width:245px;
    height: 245px;
       display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    gap: 20px;
}
.div4-s2 {
 background-color: white;
    width: 245px;
    height: 245px;
       display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    gap: 20px;
}
.titr1 {
    text-align: center;
    color: #00a892;
}
/*  partie 4 */
.hpimages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.p-p4 {
    width: 470px;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: #667070;
}
.titr-4 {
    color: #00a892;
    text-align: center;
    font-size: 30px;
   
}
/*-parti 5-*/
.parti5 {
    width: 995px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
span {
    background-color: #3d83df;
    text-transform: uppercase;
    font-size: 11px;
    color: white;
    border-radius: 5%;
    width: 105px;
    height: 30px;
    text-align: center;
}
.pp5 {
    text-transform: capitalize;
    font-size: 18px;
    color: #667070;
}
.link {
    text-decoration: none;
}

.imgereur {
    width: 311px;
    height: 280px;
}

.europe{
display: flex;
justify-content: space-between;
margin: 20px;
}
