*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
}
.content {
    width: 1000px;
    height: 1000px; 
}
header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.element a {
    text-decoration: none;
    color: rgb(170, 170, 170);
    text-transform: capitalize;
   
}
.element {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
main {
    line-height: 40px;
    margin: 15px;

}

.div1 {
    display: flex;
    flex-direction: column;  
    align-items: center;

}
.img1 {
    width: 35px;
    height: 35px;
}
.title {
    color: #00a892;
    margin: 30px;
}
.semidiv1 {
    
    display: flex;
    justify-content: space-between;
}
.para1 {
    width:45% ;
   
}
.para2 {
    width: 45%;
}
section {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 30px;
    font-size: 14px;
    line-height: 35px;
   
}

.pa {
    width: 250px;
    height: 300px;
    background-color:#00ccb1 ;
    padding: 30px;
    border-radius: 5%;
    
}
.do {
     width: 250px;
    height: 300px;
     background-color:#3d83df ;
      padding: 30px;
      border-radius: 5%;

}
.cl {
     width: 250px;
    height: 300px;
     background-color:#1b2734 ;
      padding: 30px;
      border-radius: 5%;

}

select {
    border: none;
    background-color: transparent;
    color: white;
   
}

.sel1 {
   
   
    text-align: center;
   margin-top: 40px;
   font-size: 18px;
}
.sel2 { 
   
    text-align: center;
    margin-top: 70px;
    font-size: 18px;
}
.sel3 { 
   
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
}
h1 {
    font-weight: 300;
}
h2 {
    font-weight: 200;
}
 .element .au {
    color:  #00a892;
}